/*#toast-container { 
    position: fixed; 
    top: 10px; 
    right: 10px; 
    z-index: 1000; 
} 

.toast { 
    display: flex; 
    align-items: center; 
    padding: 10px; 
    margin-bottom: 10px; 
    background-color: #333; 
    color: #fff; 
    border-radius: 5px; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
    transform: translateY(-20px); 
} 

.toast.show { 
    opacity: 1; 
    transform: translateY(0); 
}

#ft{
    background-color: red;
}

.ft{
    background-color: green;
}
*/

div {
    border-color: black;
    border-style: solid;
}

menu {
    border-color: red;
    border-style: solid;
}

nav {
    border-color: green;
    border-style: solid;
}

.divChildClasse {
    background-color: aqua;
}

.body {
    font-family: 'Roboto';
}


/**************************************** LEFT ***************************/


/**************************************** /LEFT ***************************/




/**************************************** CENTER ***************************/
#search-box {
    max-width: 100%;
    font-size: 21px;
    padding: 10px;
    border: 3px solid brown;
    margin-bottom: 5px;
}

/* table */

.table-avalible-product-container {
    overflow: auto;
    height: 400px;
}

#available-table-products {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #4211c8;
    font-size: 12px;
}

.class-available-table-products-header th {
    color: rgba(180, 246, 169, 0.995);
    background-color: #024806;
    text-align: center;
    padding: 10px;
}


.class-table-row td {
    padding: 12px;
    border-bottom: 1px solid #c21d83;
}

.class-table-row {
    cursor: pointer;
    text-align: center;
}

.class-table-row:hover {
    background-color: greenyellow;
}

/**************************************** /CENTER ***************************/




/**************************************** RIGTH ***************************/

.table-sales-product-container {
    overflow: auto;
    height: 400px;
}

#sales-table-products {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #4211c8;
    font-size: 12px;
}

.class-sales-table-products-header th {
    color: rgba(174, 169, 246, 0.995);
    background-color: #0a0248;
    text-align: center;
    padding: 10px;
}

.table-sales-row td {
    padding: 4px;
    border-bottom: 1px solid #c21d83;
}

.table-sales-row {
    cursor: pointer;
    text-align: center;
}

.table-sales-row:hover {
    background-color: rgb(185, 188, 255);
}

.sale-column-four {
    display: none;
}

.sale-column-five {
    display: none;
}


.bk-gr-cl {
    background-color: #4211c8;
}

.br-blk-thi {
    border-color: black;
    border-style: double;
}

/*
.item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-code {
    width: 20%;
    background-color: red;
}

.product-name {
    width: 20%;
    background-color: blue;
}

.product-price {
    width: 20%;
    background-color: rgba(180, 246, 169, 0.995);
}

.product-stock {
    display: none;
}

.product-timesale {
    display: none;
}
    */

/**************************************** /RIGTH ***************************/